.alerts {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 1vmin;
  left: 50%;
  transform: translate(-50%);
  z-index: 50;
}

.alert-container {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
}
